.modalOverlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBoardModal {
  position: relative;
  width: min(80%, 16em);
  color: var(--primary-dark);
  background-color: var(--bg-dark);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5em;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.textInputLabelContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.boardNameInput {
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  background: var(--accent-dark);
  color: var(--primary-dark);
  border-radius: 0.2em;
  padding: 0.4em;
}

.submit {
  width: 100%;
  height: 2em;
  padding: 0.25em;
  background-color: var(--accent-dark);
  color: var(--primary-dark);
  transition: background-color 0.15s;
  cursor: pointer;
  border-radius: 0.2em;
}

.close {
  cursor: pointer;
  color: var(--primary-dark);
}

.submit:hover {
  background-color: var(--hover-dark);
}
