.modalOverlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  height: min(80%, 20em);
  width: min(80%, 40em);
  color: var(--primary-dark);
  background-color: var(--bg-dark);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logViewer {
  padding: 0.5rem;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  background-color: var(--accent-dark);
}

.close {
  cursor: pointer;
}

.closeDisabled {
  cursor: not-allowed;
  color: var(--accent-dark);
}
